html {
    font-size: 1rem; /*16px*/
  }
  .smiley {
    width: 6.25rem; /*100px*/
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 3.125rem; /*50px*/
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  /*¿Qué tamaño de fuente tengo que poner para que mi careto mida 50x50?
  3.125rem
¿Y para que mida 200x200?
12.5 rem
*/