.container {
    border: 2px dashed blue;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*otra opción para especificar las columnas:
    grid-template-columns: repeat(4 1fr);*/
    grid-template-rows: 20% 50%;
}

.box {
    border: 1px solid pink;
    padding: 5px;
}

.header {
    grid-column: span 4;
}

.content {
    grid-column: 1/3;
    grid-row: 2/5;
}

@media all and (min-width: 800px) {
    .featured {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .content {
        grid-column: 4/5;
    }
}

@media all and (min-width: 900px) {
    .container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 'header header' 'content menu' 'footer';
    }
    .header {
        grid-area: header;
    }
    .content {
        grid-area: content;
    }
    .menu {
        grid-area: menu;
    }
    .footer {
        grid-area: footer;
    }
}