.section {
    background-color: lightpink;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: red;
    border-radius: 5px;
    height: 45px;
}